@layer mantine, mantine-datatable;
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  --sjs-primary-backcolor: var(--mantine-color-red-filled) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.svc-creator__banner {
  display: none !important;
}

.sa-commercial {
  display: none !important;
}

.save-form {
  background-color: transparent !important;
  border-color: var(--mantine-color-red-filled) !important;
  color: var(--mantine-color-red-filled) !important;
  border: 1px solid var(--mantine-color-red-filled) !important;
}

.save-form:hover {
  background-color: var(--mantine-color-red-outline-hover) !important;
}

.submit-form {
  background-color: var(--mantine-color-red-filled) !important;
  color: var(--mantine-color-white) !important;
}

.submit-form:hover {
  background-color: var(--mantine-color-red-filled-hover) !important;
}

.review-form {
  background-color: var(--mantine-color-orange-filled) !important;
  color: var(--mantine-color-white) !important;
}

.review-form:hover {
  background-color: var(--mantine-color-orange-filled-hover) !important;
}

.edit-form {
  background-color: var(--mantine-color-yellow-filled) !important;
  color: var(--mantine-color-white) !important;
}

.edit-form:hover {
  background-color: var(--mantine-color-yellow-filled-hover) !important;
}

.reject-form {
  background-color: var(--mantine-color-red-filled) !important;
  color: var(--mantine-color-white) !important;
}

.reject-form:hover {
  background-color: var(--mantine-color-red-filled-hover) !important;
}

.complete-form {
  background-color: var(--mantine-color-green-filled) !important;
  color: var(--mantine-color-white) !important;
}

.complete-form:hover {
  background-color: var(--mantine-color-green-filled-hover) !important;
}

.withdraw-form {
  background-color: transparent !important;
  color: var(--mantine-color-red-filled) !important;
}

.withdraw-form:hover {
  background-color: var(--mantine-color-red-outline-hover) !important;
}

.archive-form {
  background-color: var(--mantine-color-gray-filled) !important;
  color: var(--mantine-color-white) !important;
}

.archive-form:hover {
  background-color: var(--mantine-color-gray-filled-hover) !important;
}
